## Example Package Usage

In [1]:
#Import functions
from cpq_tools import missingness_grid, crosstab_three_way
#Import datasets
from cpq_tools.data  import SAMPLE_INFANT_DATA, \
        SAMPLE_INFANT_DATA_NA ,SAMPLE_VARIABLE_KEY_DICT

In [6]:
#Print Sample Dataset
print('Number of infants: ', SAMPLE_INFANT_DATA.shape[0])
SAMPLE_INFANT_DATA.head(4)

Number of infants:  36

   RacialCategory  HispanicLatino  Sex
0               1               0    0
1               2               0    1
2               4               1    1
3               4               0    1

In [8]:
SAMPLE_INFANT_DATA.Sex.value_counts()

Sex
0    18
1    18
Name: count, dtype: int64

In [9]:
SAMPLE_INFANT_DATA.RacialCategory.replace(SAMPLE_VARIABLE_KEY_DICT['RacialCategory']).value_counts()

RacialCategory
NH Black    13
Hispanic    10
NH White     7
AANHPI       6
Name: count, dtype: int64

In [10]:
missingness_grid(SAMPLE_INFANT_DATA_NA)

                Total
RacialCategory    5.6
HispanicLatino    2.8
Sex               5.6

In [11]:
missingness_grid(SAMPLE_INFANT_DATA_NA,
        col_var_list=['Sex'],
        var_key_dict = SAMPLE_VARIABLE_KEY_DICT)

                Total  Male  Female
RacialCategory    5.6  11.1     0.0
HispanicLatino    2.8   0.0     0.0
Sex               5.6   0.0     0.0

In [12]:
crosstab_three_way(SAMPLE_INFANT_DATA,label_dict = SAMPLE_VARIABLE_KEY_DICT)

Sex                                    Female  Male
RacialCategory HispanicLatino
AANHPI         Hispanic or Latino           1     2
               Not Hispanic or Latino       2     1
Hispanic       Hispanic or Latino           3     3
               Not Hispanic or Latino       0     4
NH Black       Hispanic or Latino           3     2
               Not Hispanic or Latino       5     3
NH White       Hispanic or Latino           2     0
               Not Hispanic or Latino       2     3

In [13]:
crosstab_three_way(SAMPLE_INFANT_DATA,
                   n_censor=2,
                   label_dict = SAMPLE_VARIABLE_KEY_DICT)

Sex                                   Female Male  Total
RacialCategory HispanicLatino
AANHPI         Hispanic or Latino         <2    2      3
               Not Hispanic or Latino      2   <2      3
Hispanic       Hispanic or Latino          3    3      6
               Not Hispanic or Latino     <2    4      4
NH Black       Hispanic or Latino          3    2      5
               Not Hispanic or Latino      5    3      8
NH White       Hispanic or Latino          2   <2      2
               Not Hispanic or Latino      2    3      5
Total                                     18   18     36