## Example Package Usage 
THis notebook is inteneded to be shared to demonstrate package usage #Eventuaally will be removed and create as VIGNETTE.ipynb

In [1]:
from cpq_tools import missingness_grid, crosstab_three_way
#Import datasets - not automatically imported
from cpq_tools.data  import SAMPLE_INFANT_DATA, \
        SAMPLE_INFANT_DATA_NA ,SAMPLE_VARIABLE_KEY_DICT
SAMPLE_INFANT_DATA.head(2)

   RacialCategory  HispanicLatino  Sex
0               1               0    0
1               2               0    1

In [6]:
missingness_grid(SAMPLE_INFANT_DATA_NA)

                Total
RacialCategory    5.6
HispanicLatino    2.8
Sex               5.6

In [7]:
missingness_grid(SAMPLE_INFANT_DATA_NA,
        col_var_list=['Sex'],
        var_key_dict = SAMPLE_VARIABLE_KEY_DICT)

                Total  Male  Female
RacialCategory    5.6  11.1     0.0
HispanicLatino    2.8   0.0     0.0
Sex               5.6   0.0     0.0

In [2]:
# import pandas as pd
#OLD, possibly deprecated, can still use if we need however

# def missingness_table(df, var_list=None, annotation_dict=None):
#     """Generate a missingness table for specified variables in a DataFrame.

#     Args:
#         df (pd.DataFrame): The DataFrame to analyze.
#         var_list (list, optional): List of variables to include in the analysis. If None, includes all columns.
#         annotation_dict (dict, optional): Dictionary to annotate variable names. Key is original name, value is annotation.

#     Returns:
#         pd.DataFrame: A DataFrame showing the number and percentage of missing values for each variable.

#     GPT-4 "Code Wizard" - 20240111
#     """
#     if var_list is None:
#         var_list = df.columns

#     missing_data = df[var_list].isnull().sum().reset_index()
#     missing_data.columns = ['Variable', 'Missing Values']
#     missing_data['Percentage Missing'] = (missing_data['Missing Values'] / len(df)) * 100

#     if annotation_dict:
#         missing_data['Variable'] = missing_data['Variable'].map(annotation_dict).fillna(missing_data['Variable'])

#     return missing_data

# # Example usage:
# # Assuming 'df' is your DataFrame and 'annotation_dict' is your optional dictionary for renaming.
# missingness_table(SAMPLE_INFANT_DATA_NA, annotation_dict={'column1': 'New Name 1', 'column2': 'New Name 2'})
# # print(result)

                  Sex=1.0  Sex=0.0
RacialCategory  11.111111      0.0
HispanicLatino   0.000000      0.0
Sex              0.000000      0.0

In [3]:
crosstab_three_way(SAMPLE_INFANT_DATA,label_dict = SAMPLE_VARIABLE_KEY_DICT)

Sex                                                   Female  Male
RacialCategory                HispanicLatino
American Indian/Alaska Native Hispanic or Latino           3     3
                              Not Hispanic or Latino       6     3
Asian                         Hispanic or Latino           3     4
                              Not Hispanic or Latino       1     4
Black or African American     Hispanic or Latino           3     0
                              Not Hispanic or Latino       2     4

In [4]:
crosstab_three_way(SAMPLE_INFANT_DATA,
                   n_censor=2,
                   label_dict = SAMPLE_VARIABLE_KEY_DICT)

Sex                                                  Female Male  Total
RacialCategory                HispanicLatino
American Indian/Alaska Native Hispanic or Latino          3    3      6
                              Not Hispanic or Latino      6    3      9
Asian                         Hispanic or Latino          3    4      7
                              Not Hispanic or Latino     <2    4      5
Black or African American     Hispanic or Latino          3   <2      3
                              Not Hispanic or Latino      2    4      6
Total                                                    18   18     36

In [ ]:
#Test table one usage